body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
}

.product {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: #008CBA;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #006f99;
}
